{{!< default}}

<div class="post-container">
    <div class="cz-author">

        {{#author}}
        <header class="cz-author-head cz-post">
            {{#if profile_image}}
                <img class="cz-author-image" src="{{profile_image}}" alt="{{name}}" />
            {{/if}}

            <h2>{{name}}</h2>
            {{#if bio}}
                <p>{{bio}}</p>
            {{/if}}

            <div class="gh-author-meta">
                <div class="gh-author-links">
                    {{#if website}}
                        <a href="{{website}}" target="_blank" rel="noopener">Website</a>
                    {{/if}}
                    {{#if twitter}}
                        <a href="{{twitter_url}}" target="_blank" rel="noopener">Twitter</a>
                    {{/if}}
                    {{#if facebook}}
                        <a href="{{facebook_url}}" target="_blank" rel="noopener">Facebook</a>
                    {{/if}}
                </div>
            </div>

            {{#if cover_image}}
                <img class="cz-author-image" src="{{cover_image}}" alt="{{name}}" />
            {{/if}}
        </header>
        {{/author}}

        <div class="cz-postfeed">
        {{#foreach posts}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

    </div>
</div>
