<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>
    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}
    {{#is "home"}}
    <style>
    body {
        background-image: url("https://i.ibb.co/grMwxMB/purple-Cremona.png") !important;
    }
</style>
{{/is}}

</head>
<body class="{{body_class}}">
<div class="gh-viewport">


<header class="cz-head">
        <div class="issue-number">№ {{@custom.journal_number}}</div>
        <h1 class="index-title">{{@site.title}}</h1>
        <p class="subtitle">{{@site.description}}</p>
    </header>
 {{navigation}}   


<main>

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

<footer class="cz-foot ">
    <div class="gh-container">
        <p>&copy; 2024 CZ-SUCCEDE, Nicolò Valenza, <a href="https://algorithm-net.com">Algorithm-net.com</a></p>
     
    </div>
</footer>

</div>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
