{{!< default}}

<div class="cz-tag-container">
    <div class="cz-tag">

        {{#tag}}
        <header class="cz-tag-head">

            <h2 class="cz-tag-title">{{name}}</h2>

            <p class="cz-tag-description">
                {{#if description}}
                    {{description}}
                {{else}}
                    I post di collegati a questo tag sono {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </p>

            {{#if feature_image}}
                <img class="cz-tag-image" src="{{feature_image}}" alt="{{name}}" />
            {{/if}}

        </header>
        {{/tag}}

        <div class="cz-postfeed">
        {{#foreach posts}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

    </div>
</div>
